repos:
- repo: https://github.com/ambv/black
  rev: 19.3b0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-ast
  - id: mixed-line-ending
  - id: debug-statements
- repo: https://github.com/asottile/pyupgrade
  rev: v1.22.1
  hooks:
  - id: pyupgrade
    args: [--py36-plus]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.720
  hooks:
  - id: mypy
