[tool.poetry]
name = "statmake"
version = "0.1.3"
description = "Applies STAT information from a Stylespace to a variable font."
authors = ["Nikolaus Waxweiler <nikolaus.waxweiler@daltonmaag.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/daltonmaag/statmake"

[tool.poetry.dependencies]
attrs = ">= 18.2"
cattrs = "^0.9.0"
fonttools = {version = "^3.38", extras = ["ufo"]}
python = "^3.6"

[tool.poetry.dev-dependencies]
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
ufo2ft = "^2.7"
ufoLib2 = "^0.4"

[tool.poetry.scripts]
statmake = "statmake.cli:main"

[tool.black]
target-version = ["py36"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
